.checkboxColumn {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkboxLabel {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.checkboxLabel > p {
  margin: 0 !important;
}

.settings {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
