.checkboxColumn {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkboxLabel {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
